* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gifs
{
  display: flex;
  flex-wrap: wrap;
}

.gif-box
{
  position: relative;
  margin: 10px;
  margin-right: 0;
  flex-basis: 300PX;
}

.gif-preview
{
  position: relative;
}

.gif-preview::after
{
  content: "▶";
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 23px;
  padding-left: 20px;
  padding-top: 15px;
}

.gif-image, .gif-preview > img
{
  max-width: 100%;
}

.gif-image-contain[data-type='gif'] > .gif-image
{
  display: none;
}

.gif-box.active
{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin: 0;
}

.gif-expand
{
  position: absolute;
  right: 2em;
  top: 1.5em;
}

.gif-expand::after
{
  content: "🡔🡕\A🡗🡖";
  white-space: pre;
  display: block;
  line-height: 0.8em;
  cursor: pointer;
}

.active .gif-expand::after
{
  content: "🡖🡗\A🡕🡔";
}

.rehosted, .origin, .edit
{
  margin-top: 1em;
}
